/* Si es  menor a 1200 ------------------------ */
@media only screen and (max-width: 1150px) {


#menu2>div>ul>li.menuss>div { width: 97%; margin-left: 3px;}
div.submenu>div { padding: 5px;}
.relactionItem div.intt{width: 58%;}
#circuitos {padding:3px; }
#circuitos>div {display: inline-block;padding: 0px 0px; width: 115px; }
#circuitos>div>img {width: 100%; height: 150px;}

/* AGENDA */
#agenda { width:220px; padding: 0 3px;}
#agenda>div div.info_ag {width:140px; padding: 0 0 0 3px; display: inline-block;}
#agenda>div div.fecha_ag { background: url("../iconos/cal_agenda.png") no-repeat; display: inline-block; width:40px; height: 41px; padding:11px 0 0 5px;    }

#block_inf>div.telefonos { padding: 0 5px 0 10px; font-size: 12px;  font-family: tahoma; font-weight: bold; color:#0099FF;} 

#buscadorC { margin: 10px 2px; }
#buscadorC h2 {font-size: 21px}

}
/* Si es  menor a 1380 ------------------------ */
@media only screen and (max-width: 1380px) {

/* DIRECTORIOS ALOJAR*/
#dir_dest>div{ margin:10px 1px;width:225px;height: 210px; }
#dir_dest>div>img.princ {width: 225px; height: 170px;}

#dir_ {padding: 0;}
#dir_>div.items{ margin:10px 1px;width:225px;height: 210px; }
#dir_>div.items>img.princ {width: 225px; height: 170px;}

div.dir_H {width: 216px;}
}


/* Si es  mayor a 1200 ------------------------ */
@media only screen and (min-width: 1200px) {

#circuitos>div {display: inline-block;padding: 0px 5px; width: 115px; }
div.subme30>div { padding: 15px;}
#agenda { width:300px; padding: 0 10px;}
}

	}